<h1><%= "#{@profile.user.username.capitalize}" %> </h1>

<h1> hi!! </h1>
<div class='container'>
  <div class='profile-sidebar'>

  </div>
  <div class='display'>
    <%= render 'profile-listings' %>
  </div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning' %>
<%= link_to 'Back', profiles_path, class: 'btn btn-outline-info' %>
