<h1><%= "#{@profile.user.username}" %> </h1>

<div class="container">
  <div class="profile-sidebar">
    <div>
    
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
