<div class='container-fluid'>

  <%= render 'shared/listings-sidebar' %>

  <div class='filters d-flex flex-direction-row container-fluid'>
    <div class='search_filter col-4 col-sm-6 mr-5 mt-4'>
    
      <%= render 'shared/listings-search' %>
    
    </div>
   
    <div class='listings-sort col-4 col-sm-6 mt-4'>

      <%= render 'shared/listings-sortby' %>
   
    </div>
  </div>

  <div class='listings-cards-container'>

    <% @listings.each do |listing| %>
      <!-- Don't need conditional for if listing.sold == false since controller already
           handles this. -->
      <%= render 'shared/listing-card', listing: listing %>
    <% end %>
  </div> <!-- close listings-cards-container -->
</div> <!-- close container -->
