<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Welcome to LuxuryCar, <%= @user.first_name %></h1>
    <p>
      You have successfully created an account.
      <br>
      Your login details are:
      <br>
      Username: <%= @user.username %>
      <br>
      Password: <%= @user.password %>
    </p>
    <p>
      To login to the site, use the following link: <%= @url %>.
    </p>
    <p>
      Thank you for joining!
      <br><br>
      Ethan
      <br>
      LuxuryCar Customer Representative
    </p> 
  </body>
</html>
