
<%= form_with url: listings_path, method: :get, local: true do |form| %>
  <div class='row'>
<!-- can't get styling for this since form.select doesn't allow for more than 3 args
    <div class='col-8'>
      <%= form.select :sort, options_for_select([['Price (Low to High)', 1], ['Price (High to Low)', 2], ['Year Made (Newest first)', 3], ['Year Made (Old first)', 4], ['Power (High to Low)', 5], ['Kms (Low to High)', 6], ['Recently Listed', 7]], { :prompt => 'Sort By:' }), { class: 'form-control' } %>
    </div>
-->
    <select name='sort' id='sort' class='form-control w-100 mr-2 ml-5 col-8'>
      <option value='1'>Price (Low to High)</option>
      <option value='2'>Price (High to Low)</option>
      <option value='3'>Year Made (Newest first)</option>
      <option value='4'>Year Made (Old first)</option>
      <option value='5'>Power (High to Low)</option>
      <option value='6'>Kms (Low to High)</option>
      <option value='7'>Recently Listed</option>
    </select>
    <div class='col-2'>
      <%= form.submit "Sort", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>



