<select name='sort' id='sort' class='form-control w-100'>
  <option value='cheapest'>Price (Low to High)</option>
  <option value='expensive'>Price (High to Low)</option>
  <option value='newest'>Year Made (High to Low)</option>
  <option value='oldest'>Year Made (Low to High)</option>
  <option value='power'>Power (High to Low)</option>
  <option value='mileage'>Kms (Low to High)</option>
  <option value='recent'>Recently Listed</option>
</select>