<div class="container-fluid">
  <div class="calendar row d-flex justify-content-center my-4">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>
</div>

