

<h1 class='text-center'>Events</h1>

<div id="events_calendar">
  <%= render 'calendar' %>
</div>

<div class='d-flex justify-content-center'>
  <%= render 'event' %>

  <%= button_to "Schedule Test Drive", new_event_path, method: :get, params: { purchase_id: @purchase.id }, class: 'btn btn-outline-info mb-5' if no_event %>
</div>
