

<h1>Events</h1>

<div id="events_calendar">
  <%= render partial: "calendar" %>
  <!-- ,  -->
</div>

<!-- 
<div class="start-time">
<%= month_calendar(attribute: :start_time) do |date| %>
  <%= date %>
<% end %>
</div>

-->
<div class='d-flex justify-content-center'>
 <%= render 'event' %>
</div>

