<div class='d-flex flex-column justify-content-center align-items-center'>
  <h1 class='mt-4'>Book A Test Drive</h1>

  <%= render 'calendar', event: @event %>

  <%= render 'form', event: @event %>

  <%= link_to 'Back', events_path %>

</div>