<main class="landing"> 
    <%= image_tag 'hero-image.jpg', alt: "Hero-image", class: "hero-image" %>


<h2 class='hero-title'>Luxury at it's finest</h2>

<%= link_to 'View Cars', listings_path, class: 'btn btn-danger' %>

<h2 class='mt-5'>View By Make</h2>

<div class='makes-container'>
  <div class='row'>
    <% @make = Make.all %>
    <% @make.each do |make| %>
      <div class='col-2'>
        <!-- Runs view_by method to get listings with selected make, passes it in params 
             to listings#index to only display listings filtered by make -->
        <%#= link_to "#{make.name}", listings_path(view_by(make.id)), class: 'make-card' %>
      </div>
    <% end %>  
  </div>

    <!-- link_to image_tag('image/someimage.png'), listings_path(select_by_make(1)) -->
  
</div>
</main>
