<h1>Update variant</h1>

<%= render 'form', variant: @variant  %>

<%= link_to 'Cancel', @variant, class: 'btn btn-outline-danger' %>
<%= link_to 'Back', listings_path, class: 'btn btn-outline-info' %>
