<h1>Congratulations!</h1>

<div class="container">
  <div class="payment-success">
    <div class="payment-success-image-container">
      <!-- displays image for the listing, if it exists -->
      <%= puts "\n\n\n does this even print? #{@purchase} " %>
      <%= # image_tag @purchase.listing.pictures[0], alt: "Listing-photo", class: "payment-success-image" if @purchase.listing.pictures[0] %>
    </div> <!-- close payment-success-image-container -->

    <div class="payment-success-body">
      <h2>Successful Payment!</h2>
      <h4>Congratulations on your new purchase!</h4>
      <div class="receipt">
        <p>
          A confirmation email has been sent to your email.
          Click here to view the 
          <a href=<%= @purchase.receipt_url %>>
            Deposit Invoice 
          </a> 
        </p>
      </div> <!-- close receipt -->
    </div> <!-- close payment-success-body -->
  </div> <!-- close payment-success -->
</div> <!-- close container -->