
<div class='container'>
<h1 class='ml-2 mb-5'>Payment Successful!</h1>
  <div class='payment-success'>
    <div class='payment-success-image-container mb-4'>
      <!-- displays image for the listing, if it exists -->
      <%= image_tag @purchase.listing.pictures[0], alt: 'Photo of car you purchased', class: 'payment-success-image' if @purchase.listing.pictures[0] %>
    </div> <!-- close payment-success-image-container -->

    <div class='payment-success-body'>
      <h2 class='mb-4'>Congratulations, your deposit has been successfuly processed!</h2>
      <div class='receipt'>
        <p class='mb-2'>
          A confirmation email has been sent to <%= "#{current_user.email}" %>.
        </p>
        <p class='mb-4'>
          To view the Deposit Invoice, click 
          <%= link_to 'here', @purchase.receipt_url %>.
        </p>
        <p>
          To schedule an appointment with the owner for a test drive,
          please click on the button below.
        </p>
        <%= button_to "Schedule Test Drive", new_event_path(listing_id: @purchase.listing.id), class: 'btn btn-outline-info' %>
        <!--  method: :post -->
      </div> <!-- close receipt -->
    </div> <!-- close payment-success-body -->
  </div> <!-- close payment-success -->


</div> <!-- close container -->