// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image-main {
    width: 720px;
    height: 540px;
}

.thumnbnail {
    width: 100px;
    height: 80px;
}

.card-listing-image-container {
    width: 600px;
    height: 800px;
}

.card-container {
    width: 50vw;
    height: auto;
}

.card-listing-container {
    width: 50vw;
}

